language: go

go:
- 1.15.x

git:
  depth: 1

before_install:
- rm -r ./content/resources/src
- openssl aes-256-cbc -K $encrypted_5b91aa6414c7_key -iv $encrypted_5b91aa6414c7_iv -in client-secret.json.enc -out client-secret.json -d

deploy:
  provider: gae
  keyfile: client-secret.json
  project: golang-workshop-decks